<div *ngIf="pic">
  <div class="container">
    <div class="flex5">
      <img class="large-pic" src={{pic.webformatURL}}>
    </div>

    <div class="flex1 sidebar">
      <div class="avatar">
          <img alt="user" src={{pic.userImageURL}}>
      </div>
      <h4>{{pic.user}}</h4>
      <div class="btn-group">
        <a href="#" class="btn btn-info btn-lg">
          <span class="oi oi-thumb-up"></span> {{pic.likes}}
        </a>
        <a href="#" class="btn btn-info btn-lg">
          <span class="oi oi-heart"></span> {{pic.favorites}}
        </a>
      </div>
      <div class="lnkButton">
        <a href={{pic.webformatURL}} download></a>
        <button class="btn btn-secondary">Download</button>
      </div>
      <button (click)="goBack()" class="btn btn-secondary">Go back</button>
    </div>
  </div>


</div>
