.large-pic {
  height: 100%;
  margin-left: -2em;
  object-fit: contain;
  width: 100%;
}

.oi.oi-heart {
  font-size: 0.85em;
}

.lnkButton {
    display:block;
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
}

.lnkButton > a {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    cursor: default;
}

.lnkButton > a:active + button {
    border-style: inset;
}

.lnkButton > button {
    position: relative;
    z-index: 1;
}

.container {
    display: -webkit-flex;
    display: flex;
}

.flex1 {
  -webkit-flex: 1;
          flex: 1;
}

.flex5 {
  -webkit-flex: 5;
          flex: 5;
}

.sidebar {
  margin-top: 3em;
  margin-left: 2em;
}

.avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.avatar img {
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}
