<div class="input-group">
  <input
    #searchBox id="search-box"
    type="text"
    class="form-control"
    placeholder="Search for..."
    [(ngModel)]="searchText"
    required>
  <span class="input-group-btn">
    <button
      [disabled]="!searchText"
      class="btn btn-secondary"
      (click)="search(searchBox.value)"
      type="button">Search
    </button>
  </span>
</div>

<div class="album text-muted">
  <div class="container">
    <div class="row">
      <div class="card" *ngFor="let pic of pics">
        <a routerLink="/detail/{{pic.id}}">
          <img class="contain" src={{pic.webformatURL}}>
        </a>
      </div>
    </div>
  </div>
</div>
